.signupBtn {
    background-color: var(--actionOrange);
    align-items: center;
    border: 1px solid transparent;
    color: var(--offWhite);
    cursor: pointer;
    font-family: Futura Md BT;
    font-size: 30pt;
    font-weight: 600;
    position: relative;
    border-radius: 100px;
    max-width: 600px;
    min-height: 80px;
    text-align: center;
}

