.horizontal-scroll{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
}

.grid-container {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-areas: 
    "card card card card card card card card card card card card";
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    padding: 0 20px;
  }
}

@media screen and (min-width: 901px) {
  .grid-container {
    border-left: .5px solid grey;
    overflow-x: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "card card card"
    "card card card"
    ;
  }

  .horizontal-scroll {
    max-height: 100vh;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {

  .grid-container {
    grid-template-areas: 
    "card card"
    "card card"
    "card card"
    "card card"
    "card card"
  ;
  }
}

