
.grid-container {
  max-height: 80vh;
  width: 100%;
  padding: 10px;
  overflow:scroll;
  display: grid;
  grid-template-areas: 
  "card card"
  "card card"
  "card card"
  "card card"
  ;
}


@media (min-width: 1200px) {
  .grid-container {
    border-left: .5px solid grey;
    display: grid;
    grid-template-areas: 
    "card card card"
    "card card card"
    ;
  }

}

