.column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:aliceblue;
}

@media (min-width: 900px) {
    .column {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}