
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat&display=swap');  
.card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    font-family: 'Gentium Book Plus', serif;
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 200px;
    background-color:white;
    color: #34554a;
    border: 10px solid #34554a;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
  }

  .image-container {
    height: 100px;
    overflow: hidden;
  }

  .card h3 {
    margin: 10px 10px;
    color: #34554a;
    font-size: 18px;
    font-family: 'Cardo', serif;
  }

  .card-hr {
    width: 30%;
    color: rgb(243, 241, 241);
  }

  .card p {
    margin: 0 10px 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 0;
  }

  .collectionBtn {
    background-color: rgb(243, 241, 241);
    margin: 25px 20px;
    background-color: rgb(243, 241, 241);
    color: #34554a;
    border-radius: 7px;
    padding: 10px;
  }

  .collectionBtn:hover {
    background-color: rgb(243, 241, 241);
    background-color: rgb(243, 241, 241);
  }


  .strong {
    font-weight: bold;
  }