.rbc-event,
.rbc-day-slot .rbc-background-event {
  color: red;
}
.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: pink;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: blue;
}
