.flowerImg {
  height: 100vh;
  width: 50vw;
}

.Container {
  display: flex;
  flex-direction: row;
}

.col-left {
  padding: 5%;
  max-width: 500px;
  text-align: center;
}

@media (max-width: 830px) {

  .flowerImg {
    display: none;
  }

  .Container {
    padding: 30px;
  }


}