.signupBtn {
    background-color: var(--actionOrange);
    align-items: center;
    color: var(--offWhite);
    font-family: Futura Md BT !important;
    position: relative;
    text-align: center;
    margin: 5px;   
}


