#signupBtn {
    background-color: var(--actionOrange);
    color: var(--offWhite);
    position: relative;
    text-align: center;
    margin:  5px auto;
    padding: 15px 25px;
}

#signupBtn:hover {
    background-color: var(--offWhite);
    color: var(--actionOrange);
}

