.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: var(--forestGreen);
}

.react-datepicker  {
  background-color: var(--offWhite);
}

.rbc-calendar {
  background-color: var(--offWhite);
  color: var(--forestGreen);
  border-radius: 7px;
  min-height: 350px;
}

.calendar {
  padding: 5% 10%;
  max-width: 400px;
}

#select {
  padding: 10px !important;
}

.react-datepicker-wrapper input {
  padding: 10px;
  margin: 5px;
  max-width: 100px;
}

.add-to-calendarBtn {
  padding: 0 10px; 
  height: 40px;
  margin: auto;
}