code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=DotGothic16&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--forestGreen) ;
  color: var(--offWhite);
  overflow-x: hidden;
}

/* Root stysles */
:root {
  --forestGreen: #34554a;
  --actionOrange: #ff6700;
  --offWhite: #fffdfb;
  --offWhiteTransparent: #fffdfb86;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
  letter-spacing: .5px;
  padding: 0;
  margin: 35px 0 15px 0;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  color:#cacac9;
}

p {
  font-family: 'Gentium Book Plus', serif;
  font-size: 16px;
  letter-spacing: 1px;
}

a {
  cursor: pointer;
}

a {
  color: var(--actionOrange);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--offWhite);
}

h1{
  font-size: 90px;
}

.strong {
  font-weight: bold;
}

i {
  color: var(--forestGreen);
}

input {
  margin: 1rem 0;
  font-size: 16px;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--offWhite);
}

button {
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.inline {
  display: inline-flex;
  padding: 0;
}

.container {
  text-align: center;
  margin: auto;
  padding: 20px; 
}
