
.password{
    border-radius:  7px 0 0 7px ;
}

.login{
   margin-top: 10px;
   background-color: #5dbe6a;
   border: none;
   color: var(--offWhite);
}

input[type="submit"] {
   transition: box-shadow 0.1s; 
   background-color: var(--offWhite);
   border-radius: 0 7px 7px 0;
   color:#5dbe6a;
   font-weight: bold;
}

@media (max-width: 830px) {
 .flowerImg{
    display: none;
 }
}
