.login{
    padding-left: 100px;
}

.username{
   width: 400px; 
   padding: 5px;
   margin-bottom: 20px;
   border-radius: 5px;
   border:1px white
}

.password{
    width: 400px; 
    padding: 5px;
    border-radius: 5px;
    border:1px white
}